<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Black Barber Barbearia</title>
    <link rel="icon" href="../../static/img/logoWhite.png" type="image/x-icon">
    <link rel="stylesheet" href="../../static/css/index.css">
    <link rel="stylesheet" href="../../static/css/agendar.css">
    <link href="https://fonts.googleapis.com/css2?family=Rye&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="navbar-left">
            <img src="../../static/img/logo.webp" alt="Logo Black Barber" class="logo">
            <a href="/user/index.html" class="tab" id="navbarBtn">Boas-vindas</a>
            <a href="/user/agendar.html" class="tab active" id="navbarBtn">Agendar</a>
        </div>
        <div class="navbar-right">
            <a href="/login.html" class="tab" id="loginBtn">Logar</a>
        </div>
    </nav>

    <h1 id="title">Agendar um Serviço</h1>

    <div class="container" id="services-container">
        <!-- Serviços serão carregados aqui -->
    </div>

    <!-- Modal para não logado -->
    <div id="login-modal" class="modal">
        <div class="modal-content">
            <span id="close-login-modal" class="close-modal">&times;</span>
            <p>Você precisa ter uma conta registrada para realizar um agendamento.</p>
            <button id="login-button">Fazer Login</button>
            <button id="later-button">Talvez Mais Tarde</button>
        </div>
    </div>

    <!-- Modal de Finalização de Agendamento -->
    <div id="agendamento-modal" class="modal">
        <div class="modal-content">
            <span id="close-agendamento-modal" class="close-modal">&times;</span>

            <h2>Escolha a Data</h2>
            <div class="date-container" id="calendar-carousel">
                <!-- Calendário dinâmico -->
            </div>

            <div class="separator"></div>

            <h2>Escolha o Barbeiro</h2>
            <div class="professional-container" id="barbeiros-container">
                <!-- Botões de barbeiros -->
            </div>

            <div class="separator"></div>

            <h2>Escolha o Horário</h2>
            <h5>OBS: Os horários só aparecem após a data e o barbeiro serem selecionados.</h5>
            <div class="time-container" id="horarios-container">
                <!-- Botões de horários -->
            </div>

            <button id="confirmar-agendamento" class="confirm-button">Confirmar Agendamento</button>
        </div>
    </div>

    <script src="../../static/js/agendar.js" defer></script>
    <script src="../../static/js/session.js" defer></script>
</body>

</html>