<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Black Barber Barbearia</title>
  <link rel="icon" href="../../static/img/logoWhite.png" type="image/x-icon">
  <link rel="stylesheet" href="../../static/css/index.css">
  <link href="https://fonts.googleapis.com/css2?family=Rye&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Freeman&family=Inter&display=swap" rel="stylesheet">
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar">
    <div class="navbar-left">
      <img src="../../static/img/logo.webp" alt="Logo Black Barber" class="logo">
      <a href="/user/index.html" class="tab active" id="navbarBtn">Boas-vindas</a>
      <a href="/user/agendar.html" class="tab" id="navbarBtn">Agendar</a>
      <a href="/user/agendamentos.html" class="tab" id="navbarBtn">Histórico de Agendamentos</a>
    </div>
    <div class="navbar-right">
      <a href="/login.html" class="tab" id="loginBtn">Logar</a>
    </div>
  </nav>

  <!-- Carousel -->
  <section class="carousel">
    <span class="carousel-arrow left">&#10094;</span>
    <div class="slides">
      <img src="../../static/img/barbearia_cont1.png" class="slide" id="barbearia_cont">
      <img src="../../static/img/barbearia_cont2.png" class="slide active" id="barbearia_cont">
      <img src="../../static/img/barbearia_cont3.png" class="slide" id="barbearia_cont">
    </div>
    <span class="carousel-arrow right">&#10095;</span>
    <div class="dots">
      <span class="dot active"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>
  </section>

  <!-- Informações -->
  <section class="info-container">
    <div class="info-text" id="infoText">
      <!-- Conteúdo carregado por info.ts -->
    </div>
    <div class="info-map" id="mapContainer">
      <!-- Conteúdo carregado por info.ts -->
    </div>
  </section>

  <script src="../../static/js/info.js" defer></script>
  <script src="../../static/js/session.js" defer></script>
  <script src="../../static/js/carousel.js" defer></script>
</body>

</html>