<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <title>Login - Black Barber</title>
  <link rel="icon" href="../static/img/logoWhite.png" type="image/x-icon">
  <link rel="stylesheet" href="../static/css/login.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rye&display=swap" rel="stylesheet">
</head>

<body>
  <div class="container" id="auth-container"></div>
  <div class="footer">
    Criado por Luiz Alberto Cury Andalécio, Gabriel Lucas Silva Seabra e Julio Cesar Tonelini.
  </div>
  <script src="../static/js/login.js"></script>
</body>

</html>