body {
    margin: 0;
    background-color: #1e1e1e;
    font-family: Arial, sans-serif;
    color: #fff;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D7D7D7;
    padding: 7px 10px 0px;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-right a {
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
}

.logo {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.tab {
    padding: 10px 15px;
    margin-right: 20px;
    background-color: #C2C2C2;
    color: black;
    text-decoration: none;
    border-radius: 8px 8px 0 0;
    text-shadow: 0px 4px 3px #969696;
}

.tab.active {
    padding: 10px 15px;
    background-color: #1e1e1e;
    color: white;
    font-weight: bold;
    text-shadow: none;
}

#navbarBtn,
#loginBtn {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    font-style: bold;
}

.carousel {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    margin: 20px 0;
}

#barbearia_cont {
    width: 1500px;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

#barbearia_cont img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    object-position: center;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    display: none;
}

.slide.active {
    display: block;
}

.dots {
    text-align: center;
    margin-top: 10px;
}

.dot {
    height: 10px;
    width: 10px;
    margin: 0 4px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background-color: #717171;
}

.info-container {
    width: 75%;
    max-width: 1500px;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #424242;
    padding: 25px;
    border-radius: 50px;
}

.info-text {
    max-width: 50%;
    font-size: 30px;
}

.info-text p {
    color: #f5f5f5;
    margin-bottom: 10px;
    font-weight: bold;
}

.info-map iframe {
    padding: 0% 0% 0%;
    width: 100%;
    height: 500px;
}

.freeman {
    font-family: 'Freeman', sans-serif;
}

.tnr {
    font-family: 'Times New Roman', sans-serif;
}