<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BBB - Editar Home</title>
    <link rel="icon" href="../../static/img/logoWhite.png" type="image/x-icon">
    <link rel="stylesheet" href="../../static/css/index.css">
    <link rel="stylesheet" href="../../static/css/editarHome.css">
    <link href="https://fonts.googleapis.com/css2?family=Rye&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Freeman&family=Inter&display=swap" rel="stylesheet">
</head>

<body>
    
    <!-- Navbar -->
    <nav class="navbar">
        <div class="navbar-left">
            <img src="../../static/img/logo.webp" alt="Logo Black Barber" class="logo">
            <a href="/admin/agenda.html" class="tab" id="navbarBtn">Agendas</a>
            <a href="/admin/editarHome.html" class="tab active" id="navbarBtn">Editar Home</a>
            <a href="/admin/editarServicos.html" class="tab" id="navbarBtn">Editar Serviços</a>
        </div>
        <div class="navbar-right">
            <a href="/login.html" class="tab" id="loginBtn">Logar</a>
        </div>
    </nav>

    <h1 id="title">Informações de Boas-vindas</h1>

    <!-- Formulário de edição -->
    <section class="info-form-container">
        <form id="infoForm">
            <label>Localização:
                <input type="text" id="localizacao" />
            </label>

            <label>Link Google Maps:
                <input type="text" id="mapa" />
            </label>

            <label>Dias de Atendimento:
                <input type="text" id="horario" />
            </label>

            <label>Formas de Pagamento:
                <input type="text" id="pagamento" />
            </label>

            <label>Comodidades:
                <input type="text" id="comodidades" />
            </label>

            <label>Profissionais:
                <input type="text" id="profissionais" />
            </label>

            <label>Contatos:
                <input type="text" id="contatos" />
            </label>

            <button type="submit" id="salvarBtn" disabled>Salvar</button>
        </form>
    </section>

    <script src="../../static/js/conta.js" defer></script>
    <script src="../../static/js/session.js" defer></script>
    <script src="../../static/js/editarInfo.js" defer></script>

</body>

</html>